<h1>Clients</h1>


<% if @clients.present? %>
	<ul>
		<% @clients.each do |client| %>
			<li><%= client.name %></li>
			<ul>
				<% client.products.each do |product| %>
					<li>
						<%= link_to product.title, product_path(product) %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</ul>
<% else %>
	<p>Ops, ainda não tenho cliente!</p>
<% end %>