<h1>UHUU!</h1>

<% if @products.present? %>
	<ul>
		<% @products.each do |product| %>
			<li>
				<h2><%= product.title %></h2>
				<%= product.description %> <br>
				R$ <%= product.price %> <br>
				Cadastrado por: <%= product.seller.name %>
				
			</li>
		<% end %>
	</ul>
<% else %>
	<p>Aaaah, não tenho produto!</p>
<% end %>

